(
    base: (
        base_color: Srgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        )),
        emissive: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        metallic: 0.0,
        perceptual_roughness: 0.8,
        reflectance: 0.5,
        alpha_cutoff: 0.5,
        double_sided: false,
        unlit: false,
        alpha_mode: Opaque,
        ior: 1.5,
        specular_transmission: 0.0,
        specular_tint: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        )),
        clearcoat: 0.0,
        clearcoat_perceptual_roughness: 0.5,
        anisotropy_strength: 0.0,
        anisotropy_rotation: 0.0,
        diffuse_transmission: 0.0,
        thickness: 0.5,
        uv_scale: (1.0, 1.0),
        base_color_texture: Some("textures/bricks_color.png"),
        normal_map_texture: Some("textures/bricks_normal.png"),
        metallic_roughness_texture: None,
        emissive_texture: None,
        occlusion_texture: None,
        depth_map_texture: Some("textures/bricks_displacement.png"),
        parallax_depth_scale: 0.3,
        parallax_mapping_method: Occlusion,
        max_parallax_layer_count: 16.0,
    ),
    extension: None,
)