(
    base: (
        base_color: Srgba((
            red: 0.7,
            green: 0.7,
            blue: 0.65,
            alpha: 1.0,
        )),
        emissive: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        metallic: 0.0,
        perceptual_roughness: 0.5,
        reflectance: 0.5,
        alpha_cutoff: 0.5,
        double_sided: false,
        unlit: false,
        alpha_mode: Opaque,
        ior: 1.5,
        specular_transmission: 0.0,
        specular_tint: LinearRgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        )),
        clearcoat: 0.0,
        clearcoat_perceptual_roughness: 0.5,
        anisotropy_strength: 0.0,
        anisotropy_rotation: 0.0,
        diffuse_transmission: 0.0,
        thickness: 0.5,
        uv_scale: (1.0, 1.0),
        base_color_texture: None,
        normal_map_texture: None,
        metallic_roughness_texture: None,
        emissive_texture: None,
        occlusion_texture: None,
    ),
    extension: Some((
        type_name: "grid",
        data: "(line_color:(0.0,0.0,0.0,0.5),major_line_color:(0.0,0.0,0.0,0.5),line_width:1.0,major_line_width:3.0,grid_scale:1.0,major_line_every:10,axes_xz:true,axes_xy:true,axes_yz:true,fade_distance:0.0,fade_strength:1.0)",
    )),
)