(
  resources: {},
  entities: {
    8589934513: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Sphere 3",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.20830846, 2.2743542, 0.49126357),
          rotation: (0.47960177, 0.0, -0.20336357, 0.8535956),
          scale: (0.19999993, 0.19999993, 0.19999993),
        ),
      },
    ),
    8589934515: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Capsule 2",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Capsule,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.85388595, 1.3763847, 0.52046084),
          rotation: (0.36817428, 0.000000021073424, -0.60369503, 0.70710677),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    8589934516: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Capsule 1",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Capsule,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (-0.79113173, 1.4665499, 0.6116463),
          rotation: (0.43248418, 0.0, 0.55942607, 0.70710665),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    8589934517: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Sphere 1",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 2.0000033, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    8589934518: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Cylinder 1",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Cylinder,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 1.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 2.0, 1.0),
        ),
      },
    ),
    12884901810: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Sphere 2",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (-0.2021726, 2.2611852, 0.50090903),
          rotation: (0.49274358, -0.0, 0.19887692, 0.84714335),
          scale: (0.19999993, 0.19999993, 0.19999993),
        ),
      },
    ),
  },
)