(
    format_version: 1,
    entities: [
        (
            id: "2287201b-6518-43d7-b626-7412d5b7ffe2",
            parent: None,
            components: [
                (
                    type_path: "bevy_ecs::name::Name",
                    value: "Box",
                ),
                (
                    type_path: "bevy_transform::components::transform::Transform",
                    value: (
                        translation: (0.0, 1.25, -10.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                ),
                (
                    type_path: "template_game::game::Primitive",
                    value: (
                        kind: Cube,
                        size: 2.5,
                    ),
                ),
                (
                    type_path: "template_game::game::Spinner",
                    value: (
                        enabled: false,
                        degrees_per_sec: 45.0,
                    ),
                ),
            ],
        ),
        (
            id: "5c8bff41-5609-4e27-bbd9-f5733e4f689a",
            parent: None,
            components: [
                (
                    type_path: "bevy_ecs::name::Name",
                    value: "Box",
                ),
                (
                    type_path: "bevy_transform::components::transform::Transform",
                    value: (
                        translation: (-5.0, 1.5, -3.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                ),
                (
                    type_path: "template_game::game::Primitive",
                    value: (
                        kind: Cube,
                        size: 3.0,
                    ),
                ),
                (
                    type_path: "template_game::game::Spinner",
                    value: (
                        enabled: false,
                        degrees_per_sec: 45.0,
                    ),
                ),
            ],
        ),
        (
            id: "dc6f62a1-f84b-48c1-bc86-63c2a975d43c",
            parent: None,
            components: [
                (
                    type_path: "bevy_ecs::name::Name",
                    value: "z",
                ),
                (
                    type_path: "bevy_transform::components::transform::Transform",
                    value: (
                        translation: (4.0, 1.0, -6.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                ),
                (
                    type_path: "template_game::game::Primitive",
                    value: (
                        kind: Cube,
                        size: 2.0,
                    ),
                ),
                (
                    type_path: "template_game::game::Spinner",
                    value: (
                        enabled: false,
                        degrees_per_sec: 45.0,
                    ),
                ),
            ],
        ),
        (
            id: "ed9d1bb3-23b3-4a90-a440-6fd48eb9e6d6",
            parent: None,
            components: [
                (
                    type_path: "bevy_ecs::name::Name",
                    value: "Box",
                ),
                (
                    type_path: "bevy_transform::components::transform::Transform",
                    value: (
                        translation: (7.0, 0.75, 2.0),
                        rotation: (0.0, 0.0, 0.0, 1.0),
                        scale: (1.0, 1.0, 1.0),
                    ),
                ),
                (
                    type_path: "template_game::game::Primitive",
                    value: (
                        kind: Cube,
                        size: 1.5,
                    ),
                ),
                (
                    type_path: "template_game::game::Spinner",
                    value: (
                        enabled: false,
                        degrees_per_sec: 45.0,
                    ),
                ),
            ],
        ),
    ],
)