(
    format_version: 3,
    materials: [
        (
            id: "e311a80b-bd5d-4168-a01f-f64b5b3e6006",
            name: "Material 1",
            base_color: (1.0, 0.8, 0.8, 1.0),
            metallic: 0.0,
            roughness: 0.6,
            emissive: (0.0, 0.0, 0.0),
            emissive_intensity: 1.0,
            alpha_mode: Opaque,
            alpha_cutoff: 0.5,
            unlit: false,
            double_sided: false,
            base_color_texture: None,
            textures: {},
            uv_tiling: (1.0, 1.0),
            uv_offset: (0.0, 0.0),
            base: None,
            overridden: [],
        ),
        (
            id: "4182a5ea-ba37-4e71-8393-c7ccab70cb8f",
            name: "Material 2",
            base_color: (0.8, 0.8, 0.8, 1.0),
            metallic: 0.0,
            roughness: 0.6,
            emissive: (0.0, 0.0, 0.0),
            emissive_intensity: 1.0,
            alpha_mode: Opaque,
            alpha_cutoff: 0.5,
            unlit: false,
            double_sided: false,
            base_color_texture: None,
            textures: {
                BaseColor: "761a1de4-bb37-4226-9667-2c74875dd474",
            },
            uv_tiling: (1.0, 1.0),
            uv_offset: (0.0, 0.0),
            base: None,
            overridden: [],
        ),
    ],
)