(
  resources: {},
  entities: {
    4294967201: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cube,
        ),
        "bevy_ecs::name::Name": "Falling Cubes",
        "bevy_transform::components::transform::Transform": (
          translation: (-2.5289412, 0.3399733, -0.09035346),
          rotation: (0.000000019802457, 0.05302019, -0.00000000057881644, 0.99859345),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967202: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cube,
        ),
        "bevy_ecs::name::Name": "Ground",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -0.6599998, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (20.0, 1.0, 20.0),
        ),
      },
    ),
    4294967203: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cylinder,
        ),
        "bevy_ecs::name::Name": "Central Pillar",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 2.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.5, 4.0, 1.5),
        ),
      },
    ),
    4294967204: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cylinder,
        ),
        "bevy_ecs::name::Name": "Corner Pillar",
        "bevy_transform::components::transform::Transform": (
          translation: (-6.0, 1.5, -6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 3.0, 1.0),
        ),
      },
    ),
    4294967205: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cylinder,
        ),
        "bevy_ecs::name::Name": "Corner Pillar",
        "bevy_transform::components::transform::Transform": (
          translation: (-6.0, 1.5, 6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 3.0, 1.0),
        ),
      },
    ),
    4294967206: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cylinder,
        ),
        "bevy_ecs::name::Name": "Corner Pillar",
        "bevy_transform::components::transform::Transform": (
          translation: (6.0, 1.5, -6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 3.0, 1.0),
        ),
      },
    ),
    4294967207: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Cylinder,
        ),
        "bevy_ecs::name::Name": "Corner Pillar",
        "bevy_transform::components::transform::Transform": (
          translation: (6.0, 1.5, 6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 3.0, 1.0),
        ),
      },
    ),
    4294967208: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_ecs::name::Name": "Bouncy Sphere 1",
        "bevy_transform::components::transform::Transform": (
          translation: (2.0, 0.3399733, 2.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967209: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_ecs::name::Name": "Bouncy Sphere 2",
        "bevy_transform::components::transform::Transform": (
          translation: (-2.0, 0.3399733, -2.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967210: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Dynamic,
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_ecs::name::Name": "Bouncy Sphere 3",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.3399733, 3.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967211: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 0.5,
            blue: 0.8,
            alpha: 1.0,
          )),
          intensity: 10000.0,
          range: 8.0,
          shadows_enabled: false,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Accent Light 2",
        "bevy_transform::components::transform::Transform": (
          translation: (-3.0, 0.5, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967212: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::DirectionalLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
          )),
          illuminance: 10000.0,
          shadows_enabled: true,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Sun",
        "bevy_transform::components::transform::Transform": (
          translation: (-0.543911, 1.9511123, 12.477788),
          rotation: (-0.117299706, 0.22064793, 0.6181905, 0.74524885),
          scale: (1.0000006, 1.0000007, 1.0000001),
        ),
      },
    ),
    4294967213: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 0.8,
            blue: 0.5,
            alpha: 1.0,
          )),
          intensity: 10000.0,
          range: 8.0,
          shadows_enabled: false,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Accent Light 4",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.5, -3.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967214: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 0.8,
            green: 1.0,
            blue: 0.5,
            alpha: 1.0,
          )),
          intensity: 10000.0,
          range: 8.0,
          shadows_enabled: false,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Accent Light 3",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.5, 3.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967215: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 0.95,
            blue: 0.8,
            alpha: 1.0,
          )),
          intensity: 80000.0,
          range: 30.0,
          shadows_enabled: true,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Central Light",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 8.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967216: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 0.2,
            blue: 0.2,
            alpha: 1.0,
          )),
          intensity: 30000.0,
          range: 15.0,
          shadows_enabled: true,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Red Light",
        "bevy_transform::components::transform::Transform": (
          translation: (-6.0, 4.0, -6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967217: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 0.2,
            green: 0.4,
            blue: 1.0,
            alpha: 1.0,
          )),
          intensity: 30000.0,
          range: 15.0,
          shadows_enabled: true,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Blue Light",
        "bevy_transform::components::transform::Transform": (
          translation: (-6.0, 4.0, 6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967218: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 0.2,
            green: 1.0,
            blue: 0.3,
            alpha: 1.0,
          )),
          intensity: 30000.0,
          range: 15.0,
          shadows_enabled: true,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Green Light",
        "bevy_transform::components::transform::Transform": (
          translation: (6.0, 4.0, -6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967219: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 0.9,
            green: 0.2,
            blue: 1.0,
            alpha: 1.0,
          )),
          intensity: 30000.0,
          range: 15.0,
          shadows_enabled: true,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Purple Light",
        "bevy_transform::components::transform::Transform": (
          translation: (6.0, 4.0, 6.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967220: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 0.5,
            green: 0.8,
            blue: 1.0,
            alpha: 1.0,
          )),
          intensity: 10000.0,
          range: 8.0,
          shadows_enabled: false,
        ),
        "bevy_ecs::hierarchy::ChildOf": (4294967221),
        "bevy_ecs::name::Name": "Accent Light 1",
        "bevy_transform::components::transform::Transform": (
          translation: (3.0, 0.5, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    4294967221: (
      components: {
        "bevy_avian3d_editor::scene::SceneEntity": (),
        "bevy_avian3d_editor::scene::primitives::GroupMarker": (),
        "bevy_ecs::hierarchy::Children": ([
          4294967220,
          4294967213,
          4294967214,
          4294967211,
          4294967217,
          4294967215,
          4294967218,
          4294967219,
          4294967216,
          4294967212,
        ]),
        "bevy_ecs::name::Name": "Lights",
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 2.8888888, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
  },
)