(
  resources: {},
  entities: {
    8589934466: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Sphere 1",
        "bevy_editor_game::MaterialRef": Inline((
          base: (
            base_color: Srgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            emissive: (
              red: 0.0,
              green: 0.0,
              blue: 0.0,
              alpha: 1.0,
            ),
            metallic: 0.0,
            perceptual_roughness: 0.5,
            reflectance: 0.5,
            alpha_cutoff: 0.5,
            double_sided: false,
            unlit: false,
            alpha_mode: Opaque,
            ior: 1.5,
            specular_transmission: 0.0,
            specular_tint: LinearRgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            clearcoat: 0.0,
            clearcoat_perceptual_roughness: 0.5,
            anisotropy_strength: 0.0,
            anisotropy_rotation: 0.0,
            diffuse_transmission: 0.0,
            thickness: 0.5,
            uv_scale: (1.0, 1.0),
            base_color_texture: None,
            normal_map_texture: None,
            metallic_roughness_texture: None,
            emissive_texture: None,
            occlusion_texture: None,
            depth_map_texture: None,
            parallax_depth_scale: 0.1,
            parallax_mapping_method: Occlusion,
            max_parallax_layer_count: 16.0,
          ),
          extension: None,
        )),
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.12636183, 0.880477, 0.24693103),
          rotation: (0.45411813, 0.0, -0.2418082, 0.8574995),
          scale: (0.11277625, 0.11277625, 0.11277625),
        ),
      },
    ),
    8589934467: (
      components: {
        "bevy_ecs::name::Name": "Point Light 2",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 0.95,
            blue: 0.8,
            alpha: 1.0,
          )),
          intensity: 80000.0,
          range: 30.0,
          shadows_enabled: true,
          radius: 0.0,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.6883653, 0.24631119, 0.29772455),
          rotation: (0.28113216, 0.0, -0.6505985, 0.70546883),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    8589934468: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Sphere 2",
        "bevy_editor_game::MaterialRef": Inline((
          base: (
            base_color: Srgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            emissive: (
              red: 0.0,
              green: 0.0,
              blue: 0.0,
              alpha: 1.0,
            ),
            metallic: 0.0,
            perceptual_roughness: 0.5,
            reflectance: 0.5,
            alpha_cutoff: 0.5,
            double_sided: false,
            unlit: false,
            alpha_mode: Opaque,
            ior: 1.5,
            specular_transmission: 0.0,
            specular_tint: LinearRgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            clearcoat: 0.0,
            clearcoat_perceptual_roughness: 0.5,
            anisotropy_strength: 0.0,
            anisotropy_rotation: 0.0,
            diffuse_transmission: 0.0,
            thickness: 0.5,
            uv_scale: (1.0, 1.0),
            base_color_texture: None,
            normal_map_texture: None,
            metallic_roughness_texture: None,
            emissive_texture: None,
            occlusion_texture: None,
            depth_map_texture: None,
            parallax_depth_scale: 0.1,
            parallax_mapping_method: Occlusion,
            max_parallax_layer_count: 16.0,
          ),
          extension: None,
        )),
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Sphere,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (-0.103554405, 0.88075995, 0.2614346),
          rotation: (0.4541181, 0.0, -0.2418082, 0.85749954),
          scale: (0.11843043, 0.11843043, 0.11843043),
        ),
      },
    ),
    442381631351: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Capsule 3",
        "bevy_editor_game::MaterialRef": Inline((
          base: (
            base_color: Srgba((
              red: 0.19436276,
              green: 1.0,
              blue: 0.14819133,
              alpha: 1.0,
            )),
            emissive: (
              red: 0.0,
              green: 0.0,
              blue: 0.0,
              alpha: 1.0,
            ),
            metallic: 0.0,
            perceptual_roughness: 0.5,
            reflectance: 0.5,
            alpha_cutoff: 0.5,
            double_sided: false,
            unlit: false,
            alpha_mode: Opaque,
            ior: 1.5,
            specular_transmission: 0.0,
            specular_tint: LinearRgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            clearcoat: 0.0,
            clearcoat_perceptual_roughness: 0.5,
            anisotropy_strength: 0.0,
            anisotropy_rotation: 0.0,
            diffuse_transmission: 0.0,
            thickness: 0.5,
            uv_scale: (1.0, 1.0),
            base_color_texture: None,
            normal_map_texture: None,
            metallic_roughness_texture: None,
            emissive_texture: None,
            occlusion_texture: None,
            depth_map_texture: None,
            parallax_depth_scale: 0.1,
            parallax_mapping_method: Occlusion,
            max_parallax_layer_count: 16.0,
          ),
          extension: None,
        )),
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Capsule,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (-0.21464485, 0.6607905, 0.23243314),
          rotation: (0.41421622, -0.000000021073426, -0.5730838, 0.70710665),
          scale: (0.26552457, 0.26552457, 0.26552457),
        ),
      },
    ),
    24073291693965: (
      components: {
        "bevy_ecs::name::Name": "Point Light 1",
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::SceneLightMarker": (
          color: Srgba((
            red: 1.0,
            green: 0.95,
            blue: 0.8,
            alpha: 1.0,
          )),
          intensity: 80000.0,
          range: 30.0,
          shadows_enabled: true,
          radius: 0.0,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.04651223, 1.44893, 0.26815516),
          rotation: (0.18749489, 0.0, -0.03194924, 0.9817459),
          scale: (1.0, 1.0, 1.0),
        ),
      },
    ),
    24073291693966: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Capsule 1",
        "bevy_editor_game::MaterialRef": Inline((
          base: (
            base_color: Srgba((
              red: 0.8,
              green: 0.6,
              blue: 0.7,
              alpha: 1.0,
            )),
            emissive: (
              red: 0.0,
              green: 0.0,
              blue: 0.0,
              alpha: 1.0,
            ),
            metallic: 0.0,
            perceptual_roughness: 0.5,
            reflectance: 0.5,
            alpha_cutoff: 0.5,
            double_sided: false,
            unlit: false,
            alpha_mode: Opaque,
            ior: 1.5,
            specular_transmission: 0.0,
            specular_tint: LinearRgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            clearcoat: 0.0,
            clearcoat_perceptual_roughness: 0.5,
            anisotropy_strength: 0.0,
            anisotropy_rotation: 0.0,
            diffuse_transmission: 0.0,
            thickness: 0.5,
            uv_scale: (1.0, 1.0),
            base_color_texture: None,
            normal_map_texture: None,
            metallic_roughness_texture: None,
            emissive_texture: None,
            occlusion_texture: None,
            depth_map_texture: None,
            parallax_depth_scale: 0.1,
            parallax_mapping_method: Occlusion,
            max_parallax_layer_count: 16.0,
          ),
          extension: Some((
            type_name: "grid",
            data: "(line_color:(0.0,0.0,0.0,0.5),major_line_color:(0.0,0.0,0.0,0.5),line_width:1.0,major_line_width:3.0,grid_scale:1.0,major_line_every:10,axes_xz:true,axes_xy:true,axes_yz:true,fade_distance:0.0,fade_strength:1.0)",
          )),
        )),
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Capsule,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.5, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (0.6556686, 1.0, 1.0),
        ),
      },
    ),
    24073291693968: (
      components: {
        "avian3d::dynamics::rigid_body::RigidBody": Static,
        "bevy_ecs::name::Name": "Capsule 2",
        "bevy_editor_game::MaterialRef": Inline((
          base: (
            base_color: Srgba((
              red: 0.97927356,
              green: 0.0,
              blue: 0.4896363,
              alpha: 1.0,
            )),
            emissive: (
              red: 0.0,
              green: 0.0,
              blue: 0.0,
              alpha: 1.0,
            ),
            metallic: 0.0,
            perceptual_roughness: 0.5,
            reflectance: 0.5,
            alpha_cutoff: 0.5,
            double_sided: false,
            unlit: false,
            alpha_mode: Opaque,
            ior: 1.5,
            specular_transmission: 0.0,
            specular_tint: LinearRgba((
              red: 1.0,
              green: 1.0,
              blue: 1.0,
              alpha: 1.0,
            )),
            clearcoat: 0.0,
            clearcoat_perceptual_roughness: 0.5,
            anisotropy_strength: 0.0,
            anisotropy_rotation: 0.0,
            diffuse_transmission: 0.0,
            thickness: 0.5,
            uv_scale: (1.0, 1.0),
            base_color_texture: None,
            normal_map_texture: None,
            metallic_roughness_texture: None,
            emissive_texture: None,
            occlusion_texture: None,
            depth_map_texture: None,
            parallax_depth_scale: 0.1,
            parallax_mapping_method: Occlusion,
            max_parallax_layer_count: 16.0,
          ),
          extension: None,
        )),
        "bevy_modal_editor::scene::SceneEntity": (),
        "bevy_modal_editor::scene::primitives::PrimitiveMarker": (
          shape: Capsule,
        ),
        "bevy_transform::components::transform::Transform": (
          translation: (0.2499509, 0.64305365, 0.17846328),
          rotation: (0.41421622, -0.000000021073426, -0.5730838, 0.70710665),
          scale: (0.22849298, 0.22849298, 0.22849298),
        ),
      },
    ),
  },
)